@import '../../../style.scss';

.headerUnlogged {
  @media(max-width: 640px) {
    position: absolute;
    z-index: 900;
    top: 0;
    transition: .3s;
    height: 100vh;
    width: 200px;
    left: -200px;

    &.show {
      left: 0;
    }

    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 990;
      background-color: transparent;
      border: none;
      font-size: 1.7em;

    }
  }

  .close {
    @media(min-width: 641px) {
      display: none;

    }
  }

  .navbar {
    width: 100%;
    background-color: $colorOrange;
    font-family: $fontHeader;
    overflow: hidden;

    @media(max-width: 640px) {
      flex-direction: column;
      height: 100vh;
      width: 100%;
      padding-top: 15px;
    }

    .ui.container {

      @media (min-width: 641px) and(max-width: 1024px) {
      }

      @media (min-width: 1025px) {
      }

      .logo {
        font-family: $fontLogo;
        font-size: 24px;
        color: white;
        transition: 0.4s;
        text-shadow: 1px 1px black;

        @media (max-width: 1024px) {
          font-size: 20px;
        }

        &:hover {
          color: $colorBlue;
        }
      }

      a {
        color: white;
      }

      .searchButton {
        .searchIcon {
          color: white;
        }

        .searchInput {
          background-color: $colorOrange;
          color: white;
          position: absolute;
          top: 0;
          left: 0;
          width: auto;
          height: 100%;
          text-decoration: underline;
          font-size: 1.5rem;
          padding-left: 20px;
        }

      }


      .dropdownListContainer {
        position: absolute;
        left: 0;
        top: 8%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 1;
        z-index: 200;
        width: 100vw;

        a {
          color: black;
          opacity: 1;
          z-index: 300;
        }

        .dropdownItem {
          position: relative;
          color: black;
          z-index: 1;
          opacity: 1;
          display: block;
          margin: auto;
          max-width: 60%;
          flex: 1 0 auto;
          outline: 0;
          -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
          text-align: left;
          line-height: 1.21428571em;
          font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
          padding: .67857143em 1em;
          background: #fff;
          border: 1px solid rgba(34, 36, 38, .15);
          color: rgba(0, 0, 0, .87);
          border-radius: .28571429rem;
          transition: box-shadow .1s ease, border-color .1s ease;
          box-shadow: none;


          &:hover {
            border-color: #85b7d9;
          }
        }
      }


      .right.item {
        @media (max-width: 1024px) {
          font-size: .8em;
        }

        @media (max-width: 640px) {
          order: -1;
          width: 100%;
          display: flex;
          flex-direction: column;
        }

        form {
          @media (max-width: 640px) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
          }

          label {
            @media (max-width: 640px) {
              margin: 5px 5px;
            }
          }

          input {
            margin: 0 10px;

            @media (max-width: 1024px) {
            }
          }
        }

        button {
          margin: 10px;
          padding: 5px 10px;
          font-size: 1em;

          @media (max-width: 640px) {
            align-self: flex-start;
          }
        }


      }
    }
  }
}

