.slideElement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    padding-top: 10px;
    margin: 0 5px 20px 5px;
    background: linear-gradient(to left, #FFEFBA, #fff);

    &>div {
        width: 100%;
        height: 83%;
        overflow-y: auto;
        text-align: center;
    }

    button {
        width: 100%;
    }

    .slideElementData {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        flex-grow: 1;

        h4 {
            flex-grow: 1;
        }
    }

    img {
        height: 100px;
        margin: 0 15px;
    }
}