@import './../../../style.scss';

.welcomePage {
    background-image: url("./../../assets/backcut.jpg");
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: 640px) {
        background-image: url("./../../assets/background-small.jpg");
        top: 0;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 9vw;

        @media (max-width: 800px) {
            padding-top: 15vw;
            width: 100%;
        }

        .logo {
            font-family: $fontLogo;
            color: $colorOrange;
            font-size: 8vw;
            text-shadow: 2px 2px black;

            @media(max-width: 800px) {
                font-size: 12vw;
            }
        }

        .companyMessage {
            font-family: $fontHeader;
            color: white;
            font-size: 2.5vw;

            @media(max-width: 800px) {
                font-size: 5vw;
                color: $colorOrange;
            }
        }

        .searchBar {
            margin-top: 2.5vw;

        }
    }

}